################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/firstgame/v15/Browse.VC.opendb
/.vs/*
/x64/*
